/* Sidebar styling */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #2c3e50; /* Màu nền tối cho sidebar */
    padding: 20px;
    margin-left: 0; /* Đảm bảo không có margin bên trái */
    position: fixed; /* Để sidebar luôn nằm cố định khi cuộn trang */
    top: 0;
    left: 0; /* Đặt sidebar sát mép trái màn hình */
    z-index: 1000; /* Đảm bảo sidebar luôn hiển thị trên các phần tử khác */
  }
  
  .sidebar-header {
    margin-bottom: 20px;
  }
  
  .sidebar-header h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #ecf0f1;
  }
  
  .menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    padding: 12px 0;
    margin: 8px 0; /* Giảm khoảng cách giữa các mục */
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #ecf0f1;
  }
  
  .menu-item:hover {
    background-color: #34495e;
  }
  
  .menu-item .icon {
    margin-right: 15px;
    font-size: 20px;
  }
  
  .menu-item-text {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 18px;
    font-weight: 500;
  }
  
  .menu-item-text:hover {
    color: #1abc9c; /* Thêm hiệu ứng màu khi hover */
  }
  
  /* Đổi màu cho mục đang active */
  .menu-item.active {
    background-color: #1abc9c;
    color: white;
  }
  
  .menu-item.active .menu-item-text {
    color: white;
  }
  